<template>
    <main>
        <div
            class="
                flex
                sm:items-center
                justify-between
                py-3
                border-b-2 border-gray-200
            "
        >
            <div class="flex items-center space-x-4">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    width="50"
                    height="50"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
                <div class="flex flex-col leading-tight">
                    <div class="text-2xl mt-1 flex items-center">
                        <span class="text-gray-700 mr-3">{{
                            selectedUser.name
                        }}</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-2">
                <select
                    v-model="selectedUser"
                    @change="$emit('userChanged', selectedUser)"
                    class="float-right"
                >
                    <option
                        :value="user"
                        v-for="(user, index) in users"
                        :key="index"
                        :id="user.id"
                        
                    >
                        {{ user.name }}
                    </option>
                </select>
            </div>
        </div>
    </main>
</template>
<script>
export default {
    props: ["users", "currentUser", "counter"],
    data: function () {
        return {
            selectedUser: "",
        };
    },
    created() {
        this.selectedUser = this.currentUser;
    },
};
</script>
