<template>
    <app-layout>
        <div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
            <chat-header
                v-if="currentUser.id"
                :users="chatUsers"
                :currentUser="currentUser"
                v-on:userChanged="setUser($event)"
            />

            <message-container
                :messages="messages"
                :authorizedUser="authorizedUser"
            />
            <input-message
                :user="currentUser"
                v-on:messageSent="getMessages()"
            />
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MessageContainer from "./messageContainer.vue";
import InputMessage from "./inputMessage.vue";
import ChatHeader from "./chatHeader.vue";
export default {
    components: {
        AppLayout,
        MessageContainer,
        InputMessage,
        ChatHeader,
    },
    data: function () {
        return {
            chatUsers: [],
            currentUser: [],
            messages: [],
            authorizedUser: [],
            counter: [],
        };
    },
    watch: {
        currentUser(val, oldVal) {
            if (oldVal.id) {
                this.disconnect();
            }
            this.connect();
            this.scrollToBottom();
        },
        counter(val, oldVal) {
            
        },
    },
    methods: {
        connect() {
            if (this.currentUser.id) {
                let vm = this;
                this.getMessages();
                window.Echo.private("user." + this.currentUser.id).listen(
                    ".message.sent",
                    (e) => {
                        vm.getMessages();
                    }
                );
            }
        },
        disconnect() {
            window.Echo.leave("user");
        },
        getUsers() {
            axios
                .post("chat/users")
                .then((response) => {
                    this.chatUsers = response.data;
                    this.setUser(response.data[0]);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        setUser(user) {
            this.currentUser = user;
            this.refreshMessagesCounter(this.currentUser);
        },
        getMessages() {
            axios
                .post("chat/user/messages", { user_id: this.currentUser.id })
                .then((response) => {
                    this.messages = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
            this.scrollToBottom();
            for (var i = 0; i < this.chatUsers.length; i++) {
                this.countUnreadedMessages(this.chatUsers[i]);
            }
        },
        getAuthorizedUser() {
            axios
                .post("chat/authorized/user")
                .then((response) => {
                    this.authorizedUser = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        countUnreadedMessages(user) {
            axios
                .post("count/unreaded/messages", { sender_id: user.id })
                .then((response) => {
                    var element = document.getElementById(user.id);
                    if (response.data == 0) {
                        element.innerHTML = user.name;
                    } else {
                        this.counter = response.data;
                        element.innerHTML = user.name + "  " + response.data;
                        element.closest("select").className = "bg-red-500";
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        scrollToBottom() {
            const el = document.getElementById("messages");
            el.scrollTop = el.scrollHeight;
        },
        refreshMessagesCounter(user) {
            axios
                .post("refresh/messages/counter", { user_id: user.id })
                .then((response) => {
                    var element = document.getElementById(user.id);
                    element.innerHTML = user.name;
                    element.closest("select").className = "";
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
    created() {
        this.getUsers();
        this.getAuthorizedUser();
    },
};
</script>
