<template>
    <main>
        <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
            <div class="relative flex">
                <input
                    type="text"
                    placeholder="Write Something"
                    class="
                        w-full
                        focus:outline-none
                        focus:placeholder-gray-400
                        text-gray-600
                        placeholder-gray-600
                        pl-12
                        bg-gray-200
                        rounded-full
                        py-3
                    "
                    id="clearInput"
                    v-model="message"
                    @keyup.enter="sendMessage()"
                />
                <div
                    class="
                        absolute
                        right-0
                        items-center
                        inset-y-0
                        hidden
                        sm:flex
                    "
                >
                    <button
                        type="button"
                        class="
                            inline-flex
                            items-center
                            justify-center
                            rounded-full
                            h-12
                            w-12
                            transition
                            duration-500
                            ease-in-out
                            text-white
                            bg-blue-500
                            hover:bg-blue-400
                            focus:outline-none
                        "
                         @click="sendMessage()"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="h-6 w-6 transform rotate-90"
                        >
                            <path
                                d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"
                            ></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import Input from "../../Jetstream/Input";
export default {
    components: {
        Input,
    },
    props: ["user"],
    data: function () {
        return {
            message: "",
        };
    },
    methods: {
        sendMessage() {
            if (this.message == "") {
                return;
            }
            document.getElementById("clearInput").value = "";
            axios
                .post("chat/user/messages/message", {
                    receiver_id: this.user.id,
                    message: this.message,
                })
                .then((response) => {
                    if (response.status == 201) {
                        this.message = "";
                        this.$emit("messageSent");
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
